<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- user page header fragment -->
    <header th:fragment="userHeaderFrg">
        <section class="header_inner">
            <h1 id="logo">
                <a href="/user">salady</a>
            </h1> <!--// #logo -->
            <nav>
                <ul class="menu">
                    <li><a href="#">이달의 메뉴</a></li>
                    <li><a href="#">정기배송</a></li>
                    <li><a href="#">신상품</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">리뷰</a></li>
                </ul>
            </nav>
            <div class="top_icon">
                <ul class="dp_icon">
                    <li class="lang_btn">
                        <a href="#"><img class="menu_img" src="/images/global_icon.png" alt="글로벌 언어 메뉴"></a>
                        <!-- hover menu -->
                        <ul class="sub_menu">
                            <li><a href="#">KO</a></li>
                            <li><a href="#">EN</a></li>
                            <li><a href="#">JP</a></li>
                        </ul> <!--// .mypage_menu-->
                    </li>
                    <li class="mypage_btn ">
                        <a href="#"><img class="menu_img" src="/images/mypage_icon.png" alt="마이페이지"></a>
                        <!-- hover menu -->
                        <!-- user mypage menu area -->

                        <!-- 로그인 전 -->
                        <ul class="sub_menu">
                            <li><a href="#">로그인</a></li>
                            <li><a href="#">회원가입</a></li>
                            <li><a href="#">마이페이지</a></li>
                            <li><a href="#">장바구니</a></li>
                            <li><a href="#">위시리스트</a></li>
                            <li><a href="#">배송조회</a></li>
                            <li><a href="#">1:1 문의</a></li>
                        </ul> <!--// .mypage_menu-->

                        <!-- 관리자 -->
                        <!--                        <ul class="sub_menu">-->
                        <!--                            <li><a href="@{/user/logout.jsp">로그아웃</a></li>-->
                        <!--                            <li><a href="@{/admin/admin_index.jsp">관리자페이지</a></li>-->
                        <!--                            <li><a href="#">1:1 문의</a></li>-->
                        <!--                        </ul> &lt;!&ndash;// .mypage_menu&ndash;&gt;-->

                        <!-- 구매자 -->
                        <!--                        <ul class="sub_menu">-->
                        <!--                            <li><a href="@{/user/logout.jsp">로그아웃</a></li>-->
                        <!--                            <li><a href="#">마이페이지</a></li>-->
                        <!--                            <li><a href="#">장바구니</a></li>-->
                        <!--                            <li><a href="#">위시리스트</a></li>-->
                        <!--                            <li><a href="#">배송조회</a></li>-->
                        <!--                            <li><a href="#">1:1 문의</a></li>-->
                        <!--                        </ul> &lt;!&ndash;// .mypage_menu&ndash;&gt;-->
                    </li>
                    <li class="category_btn">
                        <a href="javascript:void(0)" class="menu_img" ><img src="/images/category_icon.png" alt="카테고리"></a>
                        <a href="javascript:void(0)" class="close" ><img src="/images/close_btn.png" alt="닫기"></a>
                    </li>
                </ul>
                <ul class="m_icon">
                    <li>
                        <a href="javascript:void(0)">
                            <img src="/images/category_icon.png" alt="카테고리">
                        </a>
                    </li>
                </ul>
            </div>
        </section> <!--// .header_inner -->

        <div class="m_nav">
            <div class="m_nav_close">
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    <!-- user page top banner fragment -->
    <div class="top_banner" th:fragment="userTopBanner">
        <a href="#">지금 회원가입시 2000p 즉시 지급!!</a>
    </div>
</html>